
{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
  "@babel/plugin-syntax-dynamic-import",
  "@babel/plugin-proposal-class-properties",
  [
  "module-resolver",
  {
  "root": [
  "./src"
  ],
  "alias": {
  "__GLOBAL__": "./src/Global",
  "__SHARED__": "./src/SharedJSX",
  "__APPMAIN__": "./src/widgets/App/",
  "__WIDGETS__": "./src/widgets"
  }
  }
  ]
  ]
  }
 